*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  max-width: 1366px;
  background-color: #262626;
}
body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  overflow-x: hidden;
}
.backposter{
  width: 100%;
  height: 700px;
}
.transparent-poster{
  width: 100%;
  height: 700px;
  background:rgba(0,0,0,.6);
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}
header img{
  width: 130px;
  height: 40px;
}
header a{
  background-color: #e50914;
  line-height: normal;
  padding: 10px 12px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
}

.notice{
  width: 800px;
  margin: auto;
  padding-top: 150px;
  padding-left: 70px;
}

.notice h1{
  color: #fff;
  line-height: 1.5;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.notice h2{
  color: #fff;
  line-height: 1.5;
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
}
.notice h3{
  color: #fff;
  line-height: 1.7;
  font-size: 1rem;
  width: 80%;
  text-align: center;
  margin-bottom: 1rem;
}
.notice input{
  width: 60%;
  height: 55px;
  padding: 20px;
  font-size: 1rem;
  border: none;
  outline: none;
}
.notice a{
  background-color: #e50914;
  line-height: normal;
  width: 40%;
  padding: 19px 20px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}
.transparent-StreamFest{
  width: 100%;
  height: 740px;
  background:rgba(0,0,0,.6);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fest-banner{
  display: flex;
  justify-content: center;
}
.fest-banner img{
  width: 400px;
  margin-right: 4rem;
}
.fest-banner h1{
  color: #fff;
  font-size: 2.5rem;
}
.fest-banner h2{
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 50px;
}
.fest-banner div{
  line-height: 1.5;
}
.fest-banner div a{
  background-color: #e50914;
  padding: 19px 20px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}
.enjoy-tv{
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 0px 50px;
  margin-top: 10px;
}
.enjoy-tv h1{
  font-size: 3rem;
  color: #fff;
  line-height: 1.4;
}
.enjoy-tv h2{
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.3;
}
.enjoy-tv img{
  width: 550px;
}
.download-show{
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 0px 50px;
  margin-top: 10px;
}
.download-show h1{
  font-size: 3rem;
  color: #fff;
  line-height: 1.4;
}
.download-show h2{
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.3;
}
.download-show img{
  width: 370px;
}
.head{
  margin-left: 100px;
}
.watch-everywhere{
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 0px 50px;
  margin-top: 10px;
}
.watch-everywhere h1{
  font-size: 3rem;
  color: #fff;
  line-height: 1.4;
}
.watch-everywhere h2{
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.3;
}
.watch-everywhere img{
  width: 600px;
}

.ask-ques{
  background-color: #000;
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 3rem 0px;
  padding-bottom: 5rem;
}
.ask-ques h1{
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.ask-ques .ques{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #303030;
  padding: 18px 20px;
  margin: auto;
  margin-top: 10px;
}
.ques p{
  font-size: 1.7rem;
}
#ans1{
  width: 60%;
  margin: auto;
  display: none;
  background-color: #303030;
  padding: 18px 20px;
  border-top:1px solid #000;
  line-height: 1.2;
  font-size: 1.4rem;
}
#ans2{
  width: 60%;
  margin: auto;
  display: none;
  background-color: #303030;
  padding: 18px 20px;
  border-top:1px solid #000;
  line-height: 1.2;
  font-size: 1.4rem;
}
#ans3{
  width: 60%;
  margin: auto;
  display: none;
  background-color: #303030;
  padding: 18px 20px;
  border-top:1px solid #000;
  line-height: 1.2;
  font-size: 1.4rem;
}
#ans4{
  width: 60%;
  margin: auto;
  display: none;
  background-color: #303030;
  padding: 18px 20px;
  border-top:1px solid #000;
  line-height: 1.2;
  font-size: 1.4rem;
}
#ans5{
  width: 60%;
  margin: auto;
  display: none;
  background-color: #303030;
  padding: 18px 20px;
  border-top:1px solid #000;
  line-height: 1.2;
  font-size: 1.4rem;
}
.ans p{
  color: #fff;
  transition: all 0.5s;
}

.ask-ques article{
  margin:auto;
  text-align: center;
  margin-top: 2rem;
}
.ask-ques article p{
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}
.ask-ques article input{
  width: 30%;
  height: 54px;
  padding: 20px;
  font-size: 1rem;
  border: none;
  outline: none;
}
.ask-ques article a{
  background-color: #e50914;
  line-height: normal;
  padding: 19px 20px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}
footer{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: #000;
  margin-top: 10px;
  padding-top: 100px;
}
footer article{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 9rem;
  line-height: 1.5;
  margin-top: 2rem;
}
footer  p{
  color: #757575;;
  font-size: 1rem;
  line-height: 2.5;
}
footer a{
  text-decoration: none;
  color: #757575;
}
footer .lang{
  width: 135px;
  display: flex;
  justify-content: space-between;
  color: #757575;
  margin-top: 2rem;
  border: 2px solid #757575;
  padding: 1rem;
}


/* css for signin and signup */

.form{
  width: 450px;
  margin: auto;
  background-color:rgba(0,0,0,.75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin-top: 3rem;
}
form{
  text-align: center;
}
form h1{
  color: #fff;
  margin-top: 2rem;
  font-size: 2rem;
}
form input{
  width: 300px;
  height: 50px;
  padding: 0px 2rem;
  margin-top: 2rem;
  background-color: #333;
  font-size: 1rem;
  outline: none;
  border: none;
  color: #8c8c8c;
  border-radius: 5px;
}
form button{
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-top: 2rem;
  background-color:  #e50914;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
form div{
  display: flex;
  padding: 2rem 0px;
  justify-content: center;
}
form a{
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  margin-left: 5px;
}
form div p{
  font-size: 1rem;
  color: #8c8c8c;
}
.form h5{
  color: #8c8c8c;
  font-weight: 300;
}


/* movie list */

.movie-list .header{
  width: 100%;
  background-color: #000;
}
.movie-list .header img{
  width: 130px;
  height: 40px;
  margin: 0.6rem 2rem;
}
.home-desc{
  background-color: #262626;
  padding: 2rem;
}
.home-desc h1{
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home-desc p{
  width: 60%;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.4;
}
.home-desc h2{
  color: #fff;
  font-size: 2rem;
  margin: 2rem 0px;
}
.card{
  padding: 0px 2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.card img{
  cursor: pointer;
}
.card p{
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}


/* media queries */

@media(max-width: 800px){
  .notice {
    width: 500px;
    margin: auto;
    padding-top: 150px;
    padding-left: 30px;
  }
  .fest-banner img {
    width: 300px;
    height: 150px;
    margin-right: 2rem;
  }
  .enjoy-tv img {
    width: 350px;
  }
  .download-show img {
    width: 270px;
  }
  .watch-everywhere img {
    width: 350px;
   }
   footer{
     height: auto;
   }
   footer article {
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5rem;
  }

  /* movielist */
  .card {
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width: 500px){
  header{
    padding-left: 20px;
    padding-right: 20px;
  }
  header img {
    width: 120px;
    height: 30px;
  }
  header a{
    padding: 8px 7px;
  }
  .backposter {
    height: 500px;
  }
  .transparent-StreamFest{
    height: 400px;
  }
  .notice {
    width: 100%;
    padding-top: 60px;
    padding-left: 13px;
   }
   .notice div{
    display: flex;
    flex-direction: column;
   }
  .notice h1 {
    font-size: 1.7rem;
    width: 100%;
  }
  .notice h2 {
    font-size: 1.1rem;
    width: 100%;
  }
  .notice h3 {
    font-size: 1rem;
    width: 100%;
    margin-top: 1.3rem;
    font-weight: 400;
  }  
  .notice input {
    width: 95%;
    height: 31px;
    font-size: 1rem;
   }
   .notice a {
    padding: 11px 2px;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 50%;
   }
   .fest-banner img {
    width: 270px;
   }
   .fest-banner {
    flex-direction: column;
   }
   .fest-banner h1 {
    font-size: 1.7rem;
    margin-top: 1rem;
   }
   .fest-banner h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 400;
   } 
   .fest-banner img{
     margin-right: 0;
   }
   .fest-banner div a {
    padding: 13px 14px;
    font-weight: bold;
    font-size: 13px;
    margin: 0px 4rem;
   }
   .enjoy-tv{
     flex-direction: column;
     align-items: center;
     padding: 0;
     height: 500px;
   }
   .enjoy-tv h1 {
    font-size: 1.5rem;
    margin-left: -17px;
   }
   .enjoy-tv h2{
    font-size: 1rem;
    margin-left: -70px;
    margin-top: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-weight: 400;
   }
   .enjoy-tv img{
     width: 300px;
   }
   .download-show{
     flex-direction:column-reverse;
     align-items: center;
     padding: 0;
     height: 600px;
   }
   .download-show h1{
     font-size: 1.7rem;
     margin-left: -54px;
   }
   .download-show h2{
     font-size: 1.2rem;
     margin-left: -62px;
     margin-top: 1rem;
     font-weight: 400;
   }
   .watch-everywhere{
     flex-direction: column;
     align-items: center;
     padding: 0;
   }
   .watch-everywhere h1{
     font-size: 1.7rem;
     margin-left: -40px;
   }
   .watch-everywhere h2{
     font-size: 1.2rem;
     margin-left: -60px;
     margin-top: 14px;
     line-height: 1.6;
     font-weight: 400;
   }
   .watch-everywhere img{
     width: 300px;
   }
   .ask-ques h1{
     font-size: 1.5rem;
   }
   .ask-ques .ques{
     width: 100%;
   }
   #ans1,#ans2,#ans3,#ans4,#ans5{
     width: 100%;
   }
   .ques p{
     font-size: 1.2rem;
   }
   .ans p{
     font-size: 1.1rem;
   }
   .ask-ques article p {
    font-size: 1rem;
    }
    .ask-ques article input {
    width: 95%;
    height: 31px;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .ask-ques article a {
    padding: 11px 7px;
    font-size: 1rem;
  }
  footer article {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    padding: 1rem;
  }
  footer .lang{
    margin-left: 1rem;
  }
  footer .call{
    margin-left: 1rem;
  }

  /* sign in and signup */
  .form{
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  .form h1,.form input,.form button{
    margin-top: 10px;
  }
  form div{
    padding: 10px;
  }

  /* movielist */
  .card {
    grid-template-columns:1fr;
    grid-gap: 10px;
    padding: 0px 10px;
  }
  .home-desc h1{
    font-size: 2rem;
  }
  .home-desc p {
    width: 85%;
    font-size: 1rem;
    line-height: 1.6;
  }
}

